{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="{% static 'finance/table.css' %}" rel="stylesheet" />
{% endblock %}

{% block img %}
    {{ url_photo }}
{% endblock %}

{% block content %}

    <div class="table-responsive _table">
        <table id="datatable" class="table table-bordered table-hover table-striped">
        </table>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FinanceModal">Add finance</button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DiffFinance">Difference budget</button>
    {% csrf_token %}
</div>

    <div class="modal fade" id="FinanceModal" tabindex="-1" aria-labelledby="FinanceModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New finances</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="contactFormFinance">
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label><br>
                {{ form.name }}
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Budget:</label><br>
                {{ form.budget }}
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Currency:</label><br>
                {{ form.currency }}
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Type:</label><br>
                {{ form.type }}
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit" data-bs-dismiss="modal">Create</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="DiffFinance" tabindex="-1" aria-labelledby="DiffFinanceLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Different budget</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="contactFormDiff">
                <input id="id_order_" type="hidden">
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Current budget:</label><br>
                    <input type="number" id="id_curr_budget" name="diff_budget">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary submit" data-bs-dismiss="modal">Create</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function() {
            AjaxDatatableViewUtils.initialize_table(
                $('#datatable'),
                "{% url 'finance:ajax_datatable_permissions' %}",
                {
                    // extra_options (example)
                    processing: false,
                    autoWidth: false,
                    full_row_select: true,
                    scrollX: false,
                }, {
                    // extra_data
                    // ...
                },
            );

        });

        const FinanceModal = document.getElementById('FinanceModal')
        FinanceModal.addEventListener('show.bs.modal', event => {
          const button = event.relatedTarget
          const modalTitle = FinanceModal.querySelector('.modal-title')
          const modalBodyInput = FinanceModal.querySelector('.modal-body input')
          modalTitle.textContent = 'Add new finance info'
        });

        const DiffFinance = document.getElementById('DiffFinance')
        DiffFinance.addEventListener('show.bs.modal', event => {
          const button = event.relatedTarget
          const modalTitle = DiffFinance.querySelector('.modal-title')
          const modalBodyInput = DiffFinance.querySelector('.modal-body input')
          modalTitle.textContent = 'Difference budget'
        });


        $('#FinanceModal').find('.submit').on('click', () => {
            $(".contactFormFinance").submit()
        });

        $(".contactFormFinance").submit(function(e){
            e.preventDefault();
            var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            var serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url :  "{% url 'finance:append_finance' %}",
                headers: {"X-CSRFToken": crf_token},
                data : serializedData,
                success : function(response){
                    $.fn.dataTable.tables({
                        api: true
                    }).draw();
                },
                error : function(response){
                    console.log(response)
                }
            });
        });


        $('#DiffFinance').find('.submit').on('click', () => {
            $(".contactFormDiff").submit()
        });

        $(".contactFormDiff").submit(function(e){
            e.preventDefault();
            var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            var serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url :  "{% url 'finance:ajax_diff_budget' %}",
                headers: {"X-CSRFToken": crf_token},
                data : serializedData,
                success : function(response){
                    $.fn.dataTable.tables({
                        api: true
                    }).draw();
                },
                error : function(response){
                    console.log(response)
                }
            });
        });


        $('#datatable').on('draw.dt', function(event) {
            onTableDraw(event);
        });

        var onTableDraw = function (event) {
            var html_table = $(event.target);
            html_table.find('tr').each(function(index, item) {

                try {
                    var row = $(item);
                    text = row.children('td.type_inout').first().text();
                    budget = row.children('td.budget').first().text();

                    if (text == 'Зачисление') {
                        row.css('background-color', '#7fde77');
                    }
                    else if (text == 'Трата') {
                        row.css('background-color', '#ffa4a4');
                    }
                }
                    catch(err) {
                }

            });
        }

    </script>

{% endblock %}